* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  margin: auto;
  padding: 1em 0.5em;
  text-align: center;
}
.concentrationgame {
  width: 70%;
  margin: auto;
}

.outer_card {
  margin: 0.1em;
  float: left;
  padding: 5px;
  width: 286px;
  height: 395px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_card {
  visibility: hidden;
  text-align: center;
  border: 5px solid black;
  width: 90%;
  height: 95%;
  background-color: rgba(230, 230, 230, 0.7);
  font-size: 12em;
}

.selected {
  box-shadow: 1px 1px 1px 1px;
}

.matched {
  background: green;
}
.matched > .inner_card {
  visibility: visible;
}
.selected > .inner_card {
  visibility: visible;
}
